body {
    background-color: rgb(255, 255, 255);
}

.navbar-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    margin-left: -5%;
    margin-right: -5%;
    /* padding-top: 1%;
    margin-bottom: -2%; */
}

.bg-image {
    background-image: url('../assets/img/destination/destination1.jpg');
    background-repeat: no-repeat;
    background-size: 1440px;
    height: 630px;
    align-items: center;
    /* filter: drop-shadow(0px 25px 10px #00000094); */
}

.destination .img-card {
    position: relative;
    overflow: hidden;
    height: 220px;
    box-sizing: border-box;
    border: 10px;
}

.destination .img-card img {
    width: 350px;
    height: 220px;
    position: relative;
    opacity: 1;
}

.destination .img-card .details {
    width: 80%;
    left: 10%;
    position: relative;
    visibility: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../assets/img/bgDestinasi.jpg');
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.destination .img-card:hover img {
    filter: blur(2px);
}

.destination .img-card:hover .details {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.destination .img-card .details h3 {
    margin-left: 10px;
}

.destination .img-card .details p {
    margin-top: -20px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: end;
}

.article .row .col-4 .img-card img {
    width: 350px;
    height: 200px;
}
.article .row .col-4 .img-card .details {
    width: 80%;
    left: 10%;
    position: relative;
    visibility: hidden;
    background-color: white;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;

}
.article .img-card .details h3 {
    margin-left: 10px;
}

.article .img-card .details p {
    margin-top: -20px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: end;
}
.container .more-article a {
    text-decoration: none;
}