
* {
    padding: 0;
    margin: 0;
  }
  /* Navbar */
  .navbar-brand1 {
    visibility: hidden;
  }

/* Jumbotron */
.bg-jumbotron {
    /* z-index: ; */
    position: absolute;
    min-width: 100%;
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#98c1d9, #e0fbfc);
    width: auto;
    min-width: 100%;
    position: relative;
    height: 630px;
    /* align-items: center; */
    /* filter: drop-shadow(0px 25px 10px #00000094); */
}

.jumbotron .mb-4 {
    /* background-image: url('../assets/img/destination/'); */
    padding-top: 100px;
    position: absolute;
    left: 10%;
}

.jumbotron .row .col-md-6 img {
    width: 100%;
}

.jumbotron .row .col-md-6 a button {
    background-color: #3d5180;
}

.text-color {
    color: #293241;
}

/* Destination Styles */
.judulDestinasi {
    margin-left: 35px;
  }
.bg-destination {
    z-index: -1;
    position: absolute;
    margin-top: -15px;
    min-width: 100%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.destination {
    padding-top: 100px;
    
}

.destination .row img {
    width: 100%;
    height: 100%;
}

.destination .img-card {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 220px;
    box-sizing: border-box;
    border: 10px;
}

.destination .img-card img {
    width: 100%;
    height: 220px;
    position: relative;
    opacity: 1;
}

.destination .img-card .details {
    width: 80%;
    left: 10%;
    position: relative;
    visibility: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../assets/img/bgDestinasi.webp');
    transform: translateY(-120%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.destination .img-card:hover img {
    filter: blur(2px);
}

.destination .img-card:hover .details {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.destination .img-card .details h3 {
    margin-left: 10px;
}

.destination .img-card .details p {
    margin-top: -20px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: end;
}
.imgDestinasi {
    object-fit: cover;
}

/* Article Style */
.bg-article {
    z-index: -1;
    position: absolute;
    margin-top: -8%;
    min-width: 100%;
    filter: drop-shadow(-3px -5px 2px rgb(0 0 0 / 0.4));
}
.article {
    background-color:#e0fbfc;
}

.article .img-card {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 200px;
    box-sizing: border-box;
    border: 10px;
}

.article .img-card img {
    width: 100%;
    height: 200px;
    position: relative;
    opacity: 1;
}

.article .img-card .details {
    width: 100%;
    /* left: 10%; */
    height: 200px;
    position: relative;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.65);
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.article .img-card:hover img {
    filter: blur(5px);
}

.article .img-card:hover .details {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.article .img-card .details h3 {
    margin-left: 10px;
}

.article .img-card .details p {
    margin-top: -15px;
    margin-left: 15px;
    /* flex-direction: row; */
    /* justify-content: end; */
}

.article .img-card .details .align-items-end {
    margin-top: 45px;
    margin-right: 10px;
}

.more-article a {
    text-decoration: none;
    margin-top: 0;
}

/* About Us */
.about-us {
    /* background-color: #98c1d9; */
    background-image: linear-gradient(#e0fbfc, #98c1d9);
}

/* footer */   
.img-footer {
    margin-top: 0px;
    margin-left: -80px;
   }
   .img1-footer {
     margin-top: 0px;
     margin-left: 0px;
   }
   .row-footer {
     margin-top: -160px;
     margin-left: -165px;
   }
   .text-footer {
     font-size: x-small;
   }

/* Responsive */
@media (min-width:768px) and (max-width:991px) {
    .jumbotron {
        /* background-image: url('../assets/img/destination/bg.png'); */
        background-repeat: no-repeat;
        /* background-size: 1024px; */
        /* height: 630px; */
        /* align-items: center; */
    }
    /* navbar */
    nav {
        background-color: rgb(33, 37, 41);
      }

      .navbar-brand1 {
        visibility: visible;
      }

      .navbar-brand {
        visibility: hidden;
        display: none;
      }
    /* Footer */
      .img-footer{
        display: none;
      }
      .img1-footer{
        display: none;
      }
      .row-footer {
        margin-top: 0;
        margin-left: 0;
      }
}

@media screen and (max-width: 768px) {
    /* navbar */
    nav {
        background-color: rgb(33, 37, 41);
      }

      .navbar-brand1 {
        visibility: visible;
      }

      .navbar-brand {
        visibility: hidden;
        display: none;
      }
    /* Footer */
      .img-footer{
        display: none;
      }
      .img1-footer{
        display: none;
      }
      .row-footer {
        margin-top: 0;
        margin-left: 0;
      }
}