.header {
  height: 400px; 
  padding: 20px;
  margin: auto;
  text-align: center;
  color: white; 
  /* height: 400px; */
  width: 100%;
  background-image: url('../assets/img/detailpenginapan.png'); 
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;

  
}

.header{
 
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
  }



